/*-------------------------------Gruvbox Theme--------------------------------*/
@define-color dark0_hard     #1D2021;
@define-color dark0          #282828;
@define-color dark0_soft     #32302F;
@define-color dark1          #3C3836;
@define-color dark2          #504945;
@define-color dark3          #665C54;
@define-color dark4          #7C6F64;

@define-color light0_hard    #F9F5D7;
@define-color light0         #FBF1C7;
@define-color light0_soft    #F2E5BC;
@define-color light1         #EBDBB2;
@define-color light2         #D5C4A1;
@define-color light3         #BDAE93;
@define-color light4         #A89984;

@define-color gray           #928374;

@define-color bright_red     #FB4934;
@define-color bright_orange  #FE8019;
@define-color bright_yellow  #FABD2F;
@define-color bright_green   #B8BB26;
@define-color bright_aqua    #8EC07C;
@define-color bright_blue    #83A598;
@define-color bright_purple  #D3869B;

@define-color neutral_red    #CC241D;
@define-color neutral_orange #D65D0E;
@define-color neutral_yellow #D79921;
@define-color neutral_green  #98971A;
@define-color neutral_aqua   #689D6A;
@define-color neutral_blue   #458588;
@define-color neutral_purple #B16286;

@define-color faded_red      #9D0006;
@define-color faded_orange   #AF3A03;
@define-color faded_yellow   #B57614;
@define-color faded_green    #79740E;
@define-color faded_aqua     #427B58;
@define-color faded_blue     #076678;
@define-color faded_purple   #8F3F71;
/*----------------------------------------------------------------------------*/

@define-color window_bg_color @dark0;
@define-color window_fg_color @light1;

@define-color view_bg_color @dark0;
@define-color view_fg_color @light1;

@define-color accent_color @bright_blue;
@define-color accent_bg_color @bright_blue;
@define-color accent_fg_color @light1;

@define-color headerbar_bg_color @dark1;
@define-color headerbar_fg_color @light1;
@define-color headerbar_border_color @light1;
@define-color headerbar_backdrop_color @dark0;

@define-color popover_bg_color @dark1;
@define-color popover_fg_color @light1;

@define-color dialog_bg_color @popover_bg_color;
@define-color dialog_fg_color @popover_fg_color;

@define-color card_bg_color @dark1;
@define-color card_fg_color @light1;

@define-color thumbnail_bg_color @dark1;

@define-color sidebar_bg_color @dark1;
@define-color sidebar_fg_color @light1;
@define-color sidebar_backdrop_color @dark1;
@define-color secondary_sidebar_bg_color @dark1;
@define-color secondary_sidebar_backdrop_color @dark1;

@define-color success_color @bright_aqua;
@define-color success_bg_color @success_color;
@define-color success_fg_color @light1;

@define-color warning_color @bright_yellow;
@define-color warning_bg_color @warning_color;
@define-color warning_fg_color @light1;

@define-color error_color @bright_red;
@define-color error_bg_color @error_color;
@define-color error_fg_color @light1;

@define-color destructive_color @bright_red;
@define-color destructive_bg_color @destructive_color;
@define-color destructive_fg_color @light1;

.navigation-sidebar {
    background-color: @dark1;
}

/** Some apps use titlebar class and some window */
.titlebar,
window {
    border-radius: 0;
    box-shadow: none;
}

/** also remove shadows */
decoration {
    box-shadow: none;
}

decoration:backdrop {
    box-shadow: none;
}

tooltip.background {
    background-color: @dark0;
    border: 1px solid @light1;
    border-radius: 4px;
}

tooltip * {
    padding: 0;
    color: @light1;
    text-shadow: none;
}
