@define-color window_bg_color #282828;
@define-color window_fg_color #ebdbb2;

@define-color view_bg_color @window_bg_color;
@define-color view_fg_color @window_fg_color;

@define-color accent_color #83a598;
@define-color accent_bg_color @accent_color;
@define-color accent_fg_color #ebdbb2;

@define-color headerbar_bg_color #3c3836;
@define-color headerbar_fg_color @window_fg_color;
@define-color headerbar_border_color #ebdbb2;
@define-color headerbar_backdrop_color @window_bg_color;

@define-color popover_bg_color @headerbar_bg_color;
@define-color popover_fg_color @view_fg_color;

@define-color dialog_bg_color @popover_bg_color;
@define-color dialog_fg_color @popover_fg_color;

@define-color card_bg_color @headerbar_bg_color;
@define-color card_fg_color @view_fg_color;

@define-color thumbnail_bg_color @headerbar_bg_color;

@define-color sidebar_bg_color @headerbar_bg_color;
@define-color sidebar_fg_color @view_fg_color;
@define-color sidebar_backdrop_color @sidebar_bg_color;
@define-color secondary_sidebar_bg_color @sidebar_bg_color;
@define-color secondary_sidebar_backdrop_color @headerbar_bg_color;

@define-color success_color #8ec07c;
@define-color success_bg_color @success_color;
@define-color success_fg_color #ebdbb2;

@define-color warning_color #fabd2f;
@define-color warning_bg_color @warning_color;
@define-color warning_fg_color #ebdbb2;

@define-color error_color #fb4934;
@define-color error_bg_color @error_color;
@define-color error_fg_color #ebdbb2;

@define-color destructive_color #fb4934;
@define-color destructive_bg_color @destructive_color;
@define-color destructive_fg_color #ebdbb2;

.navigation-sidebar {
    background-color: @headerbar_bg_color;
}

/** Some apps use titlebar class and some window */
.titlebar,
window {
    border-radius: 0;
    box-shadow: none;
}

/** also remove shadows */
decoration {
    box-shadow: none;
}

decoration:backdrop {
    box-shadow: none;
}

tooltip.background {
    background-color: @window_bg_color;
    border: 1px solid #ebdbb2;
    border-radius: 4px;
}

tooltip * {
    padding: 0;
    color: @window_fg_color;
}
