:root {
  --accent-blue: #83a598;
  --accent-teal: #8ec07c;
  --accent-green: #b8bb26;
  --accent-yellow: #fabd2f;
  --accent-orange: #fe8019;
  --accent-red: #fb4934;
  --accent-pink: #d3869b;
  --accent-purple: #b16286;
  --accent-slate: #458588;

  --accent-bg-color: var(--accent-blue);
  --accent-fg-color: #ebdbb2;
  --accent-color: var(--accent-blue);

  --success-bg-color: var(--accent-green);
  --success-fg-color: #ebdbb2;
  --success-color: var(--accent-green);

  --warning-bg-color: var(--accent-yellow);
  --warning-fg-color: #ebdbb2;
  --warning-color: var(--accent-yellow);

  --error-bg-color: var(--accent-red);
  --error-fg-color: #ebdbb2;
  --error-color: var(--accent-red);

  --window-bg-color: #32302f;
  --window-fg-color: #ebdbb2;

  --view-bg-color: #282828;
  --view-fg-color: #ebdbb2;

  --headerbar-bg-color: #32302f;
  --headerbar-fg-color: #ebdbb2;
  --headerbar-backdrop-color: #32302f;
  --headerbar-border-color: transparent;

  --sidebar-bg-color: #3c3836;
  --sidebar-fg-color: #ebdbb2;
  --sidebar-backdrop-color: #3c3836;
  --sidebar-border-color: transparent;

  --secondary-sidebar-bg-color: #32302f;
  --secondary-sidebar-fg-color: #ebdbb2;
  --secondary-sidebar-backdrop-color: #32302f;
  --secondary-sidebar-border-color: transparent;

  --card-bg-color: #3c3836;
  --card-fg-color: #ebdbb2;

  --overview-bg-color: #3c3836;
  --overview-fg-color: #ebdbb2;

  --thumbnail-bg-color: #504945;
  --thumbnail-fg-color: #ebdbb2;

  --active-toggle-bg-color: #3c3836;
  --active-toggle-fg-color: #ebdbb2;

  --dialog-bg-color: #3c3836;
  --dialog-fg-color: #ebdbb2;

  --popover-bg-color: #3c3836;
  --popover-fg-color: #ebdbb2;
}

tooltip * {
  padding: 0px 2px;
  color: #ebdbb2;
  text-shadow: none;
}

tooltip.background {
  background-color: #282828;
  border: 1px solid #504945;
  border-radius: 8px;
}

toast {
  background-color: var(--window-bg-color);
  color: var(--window-fg-color);
}
